/* Hidden hack for IE 9 */
[hidden] {
  display: none;;
}
/* End hidden hack for IE 9 */
/* General style */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Padding bottom by footer height */
  padding-bottom: 60px;
  padding-top: 70px;
}
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
footer {
  padding: 30px 0;
}
/* End general style */
/* No-scroll to apply when nav menu is shown */
.no-scroll {
  overflow: hidden;
}
/* End no-scroll */
/* Footer style */
.footer  {
  position: absolute;
  float: left;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}
/* End footer style */
/* Dark overlay style */
.dark-overlay {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.75;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
}
/* End dark overlay style */
/* Animate the jumbotrons */
.jumbotron {
  -moz-animation: fadeEffect 0.7s;
  -webkit-animation: fadeEffect 0.7s;
  animation: fadeEffect 0.7s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* End jumbotron animation */
/* Style based off of Orbit template by Xiaoying Riley */
.contact-wrapper {
  margin: 0 auto;
  position: relative;
}
.contact-sidebar-wrapper {
  background: #8f8f8f;
  position: absolute;
  right: 0;
  width: 400px;
  height: 100%;
  min-height: 300px;
  color: #fff;
}
.contact-sidebar-wrapper a {
  color: #fff;
}
.contact-sidebar-wrapper .container-block {
  padding: 15px 30px;
}
.contact-sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.contact-main-wrapper {
  background: #fff;
  padding: 60px;
  padding-right: 460px;
}
.contact-main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #BF360C;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
.contact-main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #BF360C;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}
.contact-main-wrapper .section {
  margin-bottom: 60px;
}
.contact-jumbotron {
  padding: 0 !important;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .contact-sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .contact-main-wrapper {
    padding: 30px;
  }
}
/* End style based off of Orbit template by Xiaoying Riley */
/* Overrides for Social Buttons for Bootstrap */
.btn-facebook, .btn-google, .btn-instagram,
.btn-twitter, .btn-tumblr, .btn-github, .btn-linkedin {
  color: #ffffff !important;
}
.btn-social {
  text-transform: none !important;
}
/* End overrides for Social Buttons for Bootstrap */
