# Node modules
/node_modules

# Key files
/storage/*.key

# Composer vendor folder
/vendor

# Static folder
/static

# Vargrant and homestead files
/.vagrant
Homestead.json
Homestead.yaml

# Dotenv file
.env

# Ignore the public folder except for index.php
# as everything else inside that folder is managed by
# the webpack build process.
/public/*
!public/index.php
!public/humans.txt
!public/robots.txt

# Yarn and node debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webpack stats.json file
/resources/assets/stats.json
