@import "node_modules/bootstrap-material-design/sass/_colors";

// Main variables
$brand-primary: $deep-orange;
$navbar-color: $grey-900;
$navbar-link-hover: lighten($navbar-color, 4%);
$navbar-link-active: lighten($navbar-color, 6%);
$link-color: $deep-orange;

$background-color: $grey-200;
$main-text-color: $grey-900;
$light-text-color: $grey-200;

$contact-sidebar-wrapper: $grey-500;

// Footer variables
$footer-background: $grey-900;
$footer-color: $grey-200;

$dark-overlay: rgba($black, .7);

$divider-color: $grey-500;

// Quote variables
$quote-container-color: rgba($black, 0.7);
$quote-color: $grey-200;
$author-color: $grey-500;

// Resume variables
$resume-sidebar: $deep-orange-500;
$resume-sidebar-text-color-desktop: $light-text-color;
$resume-sidebar-text-color-mobile: $main-text-color;

$resume-main-background: $grey-300;
$resume-section-title: $deep-orange-900;
$resume-job-title: $main-text-color;
$resume-job-details: $grey-600;

$resume-level-bar: $grey-200;
$resume-level-bar-filled: $deep-orange-400;

$resume-sidebar-icon-desktop: $light-text-color;
$resume-sidebar-icon-mobile: $main-text-color;

$resume-sidebar-section-title-desktop: $light-text-color;
$resume-sidebar-section-title-mobile: $resume-section-title;

$resume-main-wrapper-icon: $light-text-color;

$cookie-consent-alert-text-color: $main-text-color;
