@font-face {
  font-family: 'Daniel Black';
  font-style: normal;
  font-weight: normal;
  src: local('Daniel Black'), url('danielbk.woff') format('woff');
}


@font-face {
  font-family: 'Daniel';
  font-style: normal;
  font-weight: normal;
  src: local('Daniel'), url('daniel.woff') format('woff');
}


@font-face {
  font-family: 'Daniel Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Daniel Bold'), url('danielbd.woff') format('woff');
}
